*.depend  
*.layout  
*.mode1v3  
*.pbxuser  

**.DS_Store
  
.svn/  
obj/  
build/  
bin/*.app
bin/data/imagesprocket/descartes/*
bin/data/imagesprocket/foreground/*

orgb.xcodeproj/project.xcworkspace/xcuserdata/katz.xcuserdatad/UserInterfaceState.xcuserstate
orgb.xcodeproj/xcuserdata/katz.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

.env
